<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Kifu APP</title>
    </head>
    <body>
        <h3>{{ object }}</h3>
        <table border="1">
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.date }}</td>
                <td>{{ object.sente }}</td>
                <td>{{ object.gote }}</td>
                <td>{{ object.result }}</td>
                <td>{{ object.my_result }}</td>
                <td>{{ object.small_class }}</td>
                <td>{{ object.created_at }}</td>
                <td>{{ object.updated_at }}</td>
            </tr>
        </table>
    </body>
</html>