{% extends "base.html" %}

{% block title %}
Kifu APP
{% endblock %}


{% block body_content %}
<h3>{{ object }}</h3>
<table border="1">
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.date }}</td>
        <td>{{ object.sente }}</td>
        <td>{{ object.gote }}</td>
        <td>{{ object.result }}</td>
        <td>{{ object.my_result }}</td>
        <td>{{ object.small_class }}</td>
        <td>{{ object.created_at }}</td>
        <td>{{ object.updated_at }}</td>
    </tr>
</table>
{% endblock %}