{% extends "util/base.html" %}

{% block title %}
Kifu APP
{% endblock %}


{% block body_content %}
<h3>{{ object }}</h3>
<table border="1">
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.date }}</td>
        <td>{{ object.sente }}</td>
        <td>{{ object.gote }}</td>
        <td>{{ object.result }}</td>
        <td>{{ object.my_result }}</td>
        <td>{{ object.small_class }}</td>
        <td>{{ object.created_at }}</td>
        <td>{{ object.updated_at }}</td>
    </tr>
</table>
<script type="kif">
1 ２六歩(27)
2 ４二銀(31)
3 ２五歩(26)
4 ３二金(41)
5 ７六歩(77)
6 ３一角(22)
7 ３八銀(39)
8 ５四歩(53)
9 ２七銀(38)
10 ５三銀(42)
11 ２六銀(27)
</script>
<!-- {% include "util/shogitime.html" %} -->
{% endblock %}